<!-- produtos/templates/produtos/admin_dashboard.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Administrativo</title>
</head>
<body>
    <h1>Bem-vindo ao Painel Administrativo</h1>
    
    <h3>O que você gostaria de fazer?</h3>
    <ul>
        <li><a href="{% url 'produtos:listar_produtos' %}">Gerenciar Produtos</a></li>
        <li><a href="#">Gerenciar Reservas</a></li>
        <!-- Outros links de administração -->
    </ul>
    
    <a href="{% url 'logout' %}">Sair</a>
</body>
</html>
